.SiteBarRight{
    grid-area: SiteBarRight;
    height: fit-content;
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(66, 66, 66, 0.9);
    margin: 10px 10px 0 120px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}