.SiteBarRight{
    grid-area: SiteBarRight;
    height: fit-content;
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(66, 66, 66, 0.9);
    margin: 10px 10px 0 120px;
                                    box-shadow:
                                            0 1px 4px rgba(0, 0, 0, .3),
                                            -23px 0 20px -23px rgba(0, 0, 0, .8),
                                            23px 0 20px -23px rgba(0, 0, 0, .8),
                                            0 0 40px rgba(0, 0, 0, .1) inset;
}