.PageDialogue{
    /*display: inline-grid;*/
    /*grid-template-rows: 1fr auto;*/
    /*grid-template-columns: 1fr 3fr;*/
    /*grid-template-areas:*/
    /*        "SiteBarLeft Chat"*/
    /*        ". Chat";*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Chat{
    width: 60%;
    grid-area: Chat;
    margin: 10px 0 30px 50px;
    padding: 10px 0;
    border-radius: 3px;
    background-color: rgba(66, 66, 66, 0.9);
    height: fit-content;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.titleChat{
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}
.DialoguesWithMessages{
    width: 100%;
    /*display: grid;*/
    /*grid-template-rows: 1fr auto;*/
    /*grid-template-columns: 1fr 2fr;*/
    /*grid-template-areas:*/
    /*        "Dialogues Messages"*/
    /*        "Dialogues SendMessages";*/
    height: 540px;

    /*background-color: darkolivegreen;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.DialoguesContainer{
    width: 450px;
    overflow: auto;
}
.MessagesContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
}