.PageUsers{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.UsersContainer{
    margin: 10px 0 30px 100px;
    padding: 10px 0;
    border-radius: 3px;
    /*background-color: rgba(66, 66, 66, 0.9);*/
    height: fit-content;
}
.SiteBarRight{

}