.WindowFriends{
    /*background-color: gray;*/
}
.titleFriends{
    padding-bottom: 10px;
}
.Friends{
    /*background-color: steelblue;*/
    height: 160px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.titleFriendsOnline{
    border-top: 1px solid rgb(41, 41, 41);
    padding: 10px 0;
}