.box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ProfileInfo {
    margin: 0 50px 0;
    background-color: rgba(119, 122, 124, 0.2);
    height: 350px;
    width: 80%;
    box-shadow: 0px 15px 25px -5px rgba(27, 27, 28, 0.91);
}

.setEditModeButton {
    font-size: 1.2em;
    cursor: pointer;
    color: gold;
    background-color: dimgrey;
    padding: 5px 10px;
    margin: 10px;
    border: none;
    box-shadow: 0px 15px 25px -5px rgba(27, 27, 28, 0.91);
}

.setEditModeButton:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.setEditModeButton:active {
    box-shadow: 0px 4px 8px rgba(27, 27, 28, 0.91);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}