.BlockUsers {
    width: 500px;
}

.center {
    text-align: center;
}
.nextPage {
    align-items: center;
    background-color: #f3c26b;;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    margin: 10px 5px 0 5px;
    text-align: center;
    font-size: 1.1em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
}